---
import Header from "@components/Header.astro";
import "@fontsource/be-vietnam-pro";
import "@fontsource-variable/gabarito";
import { SITE_CONFIG } from "@config";
import Footer from "@components/Footer.astro";

const {
  	title,
  	description,
  	siteLogo,
  	navLinks,
  	authors,
		company,
  	socialLinks,
  	socialImage,
  	canonicalURL = new URL(Astro.url.pathname, Astro.site).href,
} = SITE_CONFIG;

const ogImgUrl = canonicalURL + socialImage;
---

<!doctype html>
<html lang="en" class="scroll-pt-16 scroll-smooth">
  <head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="author" content={authors} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/westernwave_logo.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:url" content={canonicalURL} />
		<meta property="og:image" content={ogImgUrl} />
  </head>

	<body class="bg-white font-sans min-h-screen">
		<Header siteLogo={siteLogo} navLinks={navLinks} />
		<main class="min-w-screen">
			<slot />
		</main>
		<Footer company={company} socialLinks={socialLinks} />
	</body>
</html>
